dist/includes/_blognav.html

<nav class="nav cell small-12 grid-x align-center">
  <div class="cell grid-x nav-wrapper grid-container-w90">
    <div class="brand-wrapper cell small-12 xlarge-shrink align-bottom grid-x">
      <div class="brand cell auto xlarge-12 grid-x align-middle">
        <div class="shrink brand-image-wrapper"><a href="https://hamptonstravels.com"><img class="brand-image align-self-bottom" src="/assets/img/logo_big.jpg" alt="Hamptons logo"/></a></div>
      </div>
      <div class="cell shrink align-middle align-right hamburger-menu-wrapper js-hamburger hide-for-xlarge">
        <div class="hamburger-menu"><span></span></div>
      </div>
    </div>
    <div class="menu-wrapper cell large-auto grid-x">
      <div class="cell grid-y menu-content">
        <ul class="menu menu--secondary cell align-middle align-right no-bullet">
          <li class="menu-action">
            <button class="button button--small">Quick Contact</button>
            <div class="tooltip">
              <p><strong>Hamptons Hotline</strong> <br><a class="color-white" href="tel: +234 809 547 6727">+234 809 547 6727</a></p>
              <p><a class="color-white" href="mailto:reservations@hamptonstravels.com" target="_blank">reservations@hamptonstravels.com</a></p>
            </div>
          </li>
        </ul>
        <ul class="menu menu--primary cell no-bullet">
          <li class="menu-item has-drop-down"><a href="https://hamptonstravels.com/about">About</a>
            <div class="drop-down grid-x grid-padding-x">
              <div class="cell xlarge-4 drop-down__intro">
                <h4 class="drop-down__intro-heading">About</h4>
                <p class="drop-down__intro-body">Our team is made up of experienced travel consultants with extensive travel industry knowledge, equipped with up to date technology and other required industry tools.</p>
                <p><a class="button-secondary" href="https://hamptonstravels.com/about" title="About Hamptons">More</a></p>
              </div>
              <ul class="cell xlarge-4">
                <li><a href="https://hamptonstravels.com/about#our-mission" title="Our Mission/Vision">Our Mission/Vision</a></li>
                <li><a href="https://hamptonstravels.com/about#our-values" title="Our Values">Our Values</a></li>
                <li><a href="https://hamptonstravels.com/about#testimonials" title="Testimonials">Testimonials</a></li>
                <li><a href="https://hamptonstravels.com/about#partnerships" title="Partnerships">Partnerships</a></li>
              </ul>
              <div class="cell drop-down__image-wrapper"><img src="https://hamptonstravels.com/assets/img/card4_picture.jpg" alt=""/></div>
            </div>
          </li>
          <li class="menu-item has-drop-down"><a href="https://hamptonstravels.com/services">Services</a>
            <div class="drop-down grid-x grid-padding-x">
              <div class="cell xlarge-4 drop-down__intro">
                <h4 class="drop-down__intro-heading">Services</h4>
                <p class="drop-down__intro-body">Travel planning and implementation</p>
                <p><a class="button-secondary" href="https://hamptonstravels.com/services" title="Hamptons's Focus">More</a></p>
              </div>
              <ul class="cell xlarge-4">
                <li icon="icon-chevron-thin-right"><a href="https://hamptonstravels.com/services/air-travel-services#air-services" title="Air Travel Services">Air Travel Services</a></li>
                <li><a href="https://hamptonstravels.com/services/hotel-reservation#hotel-reservation" title="Hotel Reservation">Hotel Reservation</a></li>
                <li><a href="https://hamptonstravels.com/services/visa-advisory#visa-advisory" title="Visa Advisory">Visa Advisory</a></li>
                <li><a href="https://hamptonstravels.com/services/tour-packages#tour-packages" title="Tour Packages">Tour Packages</a></li>
                <li><a href="https://hamptonstravels.com/services/protocol#protocol" title="Protocol/Logistics Services">Protocol/Logistics Services</a></li>
                <li><a href="https://hamptonstravels.com/services/travel-consultations#travel-consultations" title="Travel Consultations">Travel Consultations</a></li>
              </ul>
              <div class="cell drop-down__image-wrapper"><img src="/assets/img/card3_picture.jpg" alt=""/></div>
            </div>
          </li>
          <li class="menu-item has-drop-down"><a href="https://hamptonstravels.com/vacation">Vacation</a>
            <div class="drop-down grid-x grid-padding-x">
              <div class="cell xlarge-4 drop-down__intro">
                <h4 class="drop-down__intro-heading">Vacation</h4>
                <p class="drop-down__intro-body">Whether you are seeking vacation travel for yourself, your family, your extended family, or group of friends – we are here to help you.</p>
                <p><a class="button-secondary" href="https://hamptonstravels.com/vacation" title="Hamptons vacation">More</a></p>
              </div>
              <ul class="cell xlarge-4">
                <li><a href="https://hamptonstravels.com/vacation/cruises" title="Cruises">Cruises</a></li>
                <li><a href="https://hamptonstravels.com/vacation/resorts" title="Resorts">Resorts</a></li>
                <li><a href="https://hamptonstravels.com/vacation/romance-travels" title="Romance Travels">Romance Travels</a></li>
                <li><a href="https://hamptonstravels.com/vacation/independent-travelers" title="Independent Travelers">Independent Travelers</a></li>
              </ul>
              <div class="cell drop-down__image-wrapper"><img src="/assets/img/card1_picture.jpg" alt="Hamptons Board"/></div>
            </div>
          </li>
          <li class="menu-item has-drop-down"><a href="https://hamptonstravels.com/tours">Tours</a>
            <div class="drop-down grid-x grid-padding-x">
              <div class="cell xlarge-4 drop-down__intro">
                <h4 class="drop-down__intro-heading">Tours</h4>
                <p class="drop-down__intro-body">Whether you are seeking a trip for yourself or for your household, tour experiences are both an informative and engaging way to travel!</p>
                <p><a class="button-secondary" href="https://hamptonstravels.com/tours" title="Hamptons's Tours">More</a></p>
              </div>
              <ul class="cell xlarge-4">
                <li><a href="https://hamptonstravels.com/tours#usa-tours" title="USA Tours">USA Tours</a></li>
                <li><a href="https://hamptonstravels.com/tours#canada-tours" title="Canada Tours">Canada Tours</a></li>
                <li><a href="https://hamptonstravels.com/tours#international-tours" title="International Tours">International Tours</a></li>
                <li><a href="https://hamptonstravels.com/tours#sport-travels" title="Sport Travels">Sport Travels</a></li>
                <li><a href="https://hamptonstravels.com/tours#day-trips" title="Day Trips">Day Trips</a></li>
              </ul>
              <div class="cell drop-down__image-wrapper"><img src="/assets/img/card6_picture.jpg" alt=""/></div>
            </div>
          </li>
          <li class="menu-item"><a href="https://hamptonstravels.com/faqs">FAQs</a></li>
          <li class="menu-item"><a href="https://hamptonstravels.com/contact">Contact Us</a></li>
          <li class="menu-item"><a href="/blog">Blog</a></li>
          <li class="menu-action hide">
            <div class="flex-container align-center search">
              <div class="grid-container full search-dropdown">
                <form class="grid-x search__form" action="/search" method="post">
                  <input type="text" name="query" placeholder="Search Hamptons" autocomplete="false"/>
                  <button class="search__submit-btn js-submit-search" type="submit"><span class="icon icon-arrow-right"></span></button>
                </form>
              </div>
              <button class="search__trigger-btn js-search"><span class="icon icon-search"></span></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

src/pug/includes/_blognav.pug
nav.nav.cell.small-12.grid-x.align-center
  .cell.grid-x.nav-wrapper.grid-container-w90
    div.brand-wrapper.cell.small-12.xlarge-shrink.align-bottom.grid-x
      .brand.cell.auto.xlarge-12.grid-x.align-middle
        div.shrink.brand-image-wrapper
          a(href="https://hamptonstravels.com")
            img(class="brand-image align-self-bottom" src="/assets/img/logo_big.jpg", alt="Hamptons logo")
      .cell.shrink.align-middle.align-right.hamburger-menu-wrapper.js-hamburger.hide-for-xlarge
        .hamburger-menu
          span
    div.menu-wrapper.cell.large-auto.grid-x
      div.cell.grid-y.menu-content
        ul.menu.menu--secondary.cell.align-middle.align-right.no-bullet
          li.menu-action
            button.button.button--small Quick Contact
            .tooltip
              p <strong>Hamptons Hotline</strong> <br>
                a(href="tel: +234 809 547 6727").color-white +234 809 547 6727
              p
                a(href="mailto:reservations@hamptonstravels.com" target='_blank').color-white reservations@hamptonstravels.com
        ul.menu.menu--primary.cell.no-bullet
          li.menu-item.has-drop-down
            a(href="https://hamptonstravels.com/about") About
            .drop-down.grid-x.grid-padding-x
              .cell.xlarge-4.drop-down__intro
                h4.drop-down__intro-heading About
                p.drop-down__intro-body Our team is made up of experienced travel consultants with extensive travel industry knowledge, equipped with up to date technology and other required industry tools.
                p
                  a(href="https://hamptonstravels.com/about", title="About Hamptons").button-secondary More
              ul.cell.xlarge-4
                li
                  a(href="https://hamptonstravels.com/about#our-mission", title="Our Mission/Vision") Our Mission/Vision
                li
                  a(href="https://hamptonstravels.com/about#our-values", title="Our Values") Our Values
                li
                  a(href="https://hamptonstravels.com/about#testimonials", title="Testimonials") Testimonials
                li
                  a(href="https://hamptonstravels.com/about#partnerships", title="Partnerships") Partnerships
              .cell.drop-down__image-wrapper
                img(src="https://hamptonstravels.com/assets/img/card4_picture.jpg", alt="")
          li.menu-item.has-drop-down
            a(href="https://hamptonstravels.com/services") Services
            .drop-down.grid-x.grid-padding-x
              .cell.xlarge-4.drop-down__intro
                h4.drop-down__intro-heading Services
                p.drop-down__intro-body Travel planning and implementation
                p
                  a(href="https://hamptonstravels.com/services", title="Hamptons's Focus").button-secondary More

              ul.cell.xlarge-4
                li(icon="icon-chevron-thin-right")
                  a(href="https://hamptonstravels.com/services/air-travel-services#air-services", title="Air Travel Services") Air Travel Services
                li
                  a(href="https://hamptonstravels.com/services/hotel-reservation#hotel-reservation", title="Hotel Reservation") Hotel Reservation
                li
                  a(href="https://hamptonstravels.com/services/visa-advisory#visa-advisory", title="Visa Advisory") Visa Advisory
                li
                  a(href="https://hamptonstravels.com/services/tour-packages#tour-packages", title="Tour Packages") Tour Packages
                li
                  a(href="https://hamptonstravels.com/services/protocol#protocol", title="Protocol/Logistics Services") Protocol/Logistics Services
                li
                  a(href="https://hamptonstravels.com/services/travel-consultations#travel-consultations", title="Travel Consultations") Travel Consultations
              .cell.drop-down__image-wrapper
                img(src="/assets/img/card3_picture.jpg", alt="")
          li.menu-item.has-drop-down
            a(href="https://hamptonstravels.com/vacation") Vacation
            .drop-down.grid-x.grid-padding-x
              .cell.xlarge-4.drop-down__intro
                h4.drop-down__intro-heading Vacation
                p.drop-down__intro-body Whether you are seeking vacation travel for yourself, your family, your extended family, or group of friends – we are here to help you.
                p
                  a(href="https://hamptonstravels.com/vacation", title="Hamptons vacation").button-secondary More
              ul.cell.xlarge-4
                li
                  a(href="https://hamptonstravels.com/vacation/cruises", title="Cruises") Cruises
                li
                  a(href="https://hamptonstravels.com/vacation/resorts", title="Resorts") Resorts
                li
                  a(href="https://hamptonstravels.com/vacation/romance-travels", title="Romance Travels") Romance Travels
                li
                  a(href="https://hamptonstravels.com/vacation/independent-travelers", title="Independent Travelers") Independent Travelers
              .cell.drop-down__image-wrapper
                img(src="/assets/img/card1_picture.jpg", alt="Hamptons Board")
          li.menu-item.has-drop-down
            a(href="https://hamptonstravels.com/tours") Tours
            .drop-down.grid-x.grid-padding-x
              .cell.xlarge-4.drop-down__intro
                h4.drop-down__intro-heading Tours
                p.drop-down__intro-body Whether you are seeking a trip for yourself or for your household, tour experiences are both an informative and engaging way to travel!
                p
                  a(href="https://hamptonstravels.com/tours", title="Hamptons's Tours").button-secondary More
              ul.cell.xlarge-4
                li
                  a(href="https://hamptonstravels.com/tours#usa-tours", title="USA Tours") USA Tours
                li
                  a(href="https://hamptonstravels.com/tours#canada-tours", title="Canada Tours") Canada Tours
                li
                  a(href="https://hamptonstravels.com/tours#international-tours", title="International Tours") International Tours
                li
                  a(href="https://hamptonstravels.com/tours#sport-travels", title="Sport Travels") Sport Travels
                li
                  a(href="https://hamptonstravels.com/tours#day-trips", title="Day Trips") Day Trips

              .cell.drop-down__image-wrapper
                img(src="/assets/img/card6_picture.jpg", alt="")
          li.menu-item
            a(href="https://hamptonstravels.com/faqs") FAQs
          li.menu-item
            a(href="https://hamptonstravels.com/contact") Contact Us
          li.menu-item
            a(href="/blog") Blog

          li.menu-action.hide
            div.flex-container.align-center.search
              .grid-container.full.search-dropdown
                form(action="/search" method="post").grid-x.search__form
                  input(type="text" name="query" placeholder="Search Hamptons" autocomplete="false")
                  button.search__submit-btn.js-submit-search(type='submit')
                    span.icon.icon-arrow-right
              button.search__trigger-btn.js-search
                span.icon.icon-search
