dist/includes/_nav.html

<nav class="nav cell small-12 grid-x align-center">
  <div class="cell grid-x nav-wrapper grid-container-w90">
    <div class="brand-wrapper cell small-12 xlarge-shrink align-bottom grid-x">
      <div class="brand cell auto xlarge-12 grid-x align-middle">
        <div class="shrink brand-image-wrapper"><a href="/"><img class="brand-image align-self-bottom" src="/assets/img/logo_big.jpg" alt="Hamptons logo"/></a></div>
      </div>
      <div class="cell shrink align-middle align-right hamburger-menu-wrapper js-hamburger hide-for-xlarge">
        <div class="hamburger-menu"><span></span></div>
      </div>
    </div>
    <div class="menu-wrapper cell large-auto grid-x">
      <div class="cell grid-y menu-content">
        <ul class="menu menu--secondary cell align-middle align-right no-bullet">
          <li class="menu-action"><img src="/assets/img/proudly.png" alt="proudly-nigerian" width="80"/>
            <button class="button button--small">Quick Contact</button>
            <div class="tooltip">
              <p><strong>Hamptons Hotline</strong> <br><a class="color-white" href="tel: +234 809 547 6727">+234 809 547 6727</a></p>
              <p><a class="color-white" href="mailto:reservations@hamptonstravels.com" target="_blank">reservations@hamptonstravels.com</a></p>
            </div>
          </li>
        </ul>
        <ul class="menu menu--primary cell no-bullet">
          <li class="menu-item has-drop-down"><a href="/about.html">About</a>
            <div class="drop-down grid-x grid-padding-x">
              <div class="cell xlarge-4 drop-down__intro">
                <h4 class="drop-down__intro-heading">About</h4>
                <p class="drop-down__intro-body">Our team is made up of experienced travel consultants with extensive travel industry knowledge, equipped with up to date technology and other required industry tools.</p>
                <p><a class="button-secondary" href="/about.html" title="About Hamptons">More</a></p>
              </div>
              <ul class="cell xlarge-4">
                <li><a href="/about.html#our-mission" title="Our Mission/Vision">Our Mission</a></li>
                <li><a href="/about.html#our-values" title="Our Values">Our Values</a></li>
                <li><a href="/about.html#partnerships" title="Partnerships">Partnerships</a></li>
              </ul>
              <div class="cell drop-down__image-wrapper"><img src="/assets/img/ham-1.jpg" alt=""/></div>
            </div>
          </li>
          <li class="menu-item has-drop-down"><a href="/services">Services</a>
            <div class="drop-down grid-x grid-padding-x">
              <div class="cell xlarge-4 drop-down__intro">
                <h4 class="drop-down__intro-heading">Services</h4>
                <p class="drop-down__intro-body">Travel planning and implementation</p>
                <p><a class="button-secondary" href="/services" title="Hamptons's Focus">More</a></p>
              </div>
              <ul class="cell xlarge-4">
                <li icon="icon-chevron-thin-right"><a href="/services#hotel-reservation" title="Hotel Reservation">Hotel Reservation</a></li>
                <li><a href="/services#visa-advisory" title="Visa Advisory">Visa Advisory</a></li>
                <li><a href="/services#tour-packages" title="Tour Packages">Tour Packages</a></li>
                <li><a href="/services#protocol" title="Protocol/Logistics Services">Protocol/Logistics Services</a></li>
                <li><a href="/services#travel-consultations" title="Travel Consultations">Travel Consultations</a></li>
              </ul>
              <div class="cell drop-down__image-wrapper"><img src="/assets/img/card3_picture.jpg" alt=""/></div>
            </div>
          </li>
          <li class="menu-item"><a href="/vacation">Vacation</a></li>
          <li class="menu-item has-drop-down"><a href="/corporate-business-travels">Corporate/Business Travels</a>
            <div class="drop-down grid-x grid-padding-x">
              <div class="cell xlarge-4 drop-down__intro">
                <h4 class="drop-down__intro-heading">Corporate/Business travels</h4>
                <p class="drop-down__intro-body">Hamptons offers professional travel services, private tours, holiday packages, excursions, business persons, families, and individual travellers.</p>
                <p><a class="button-secondary" href="/corporate-business-travels" title="Hamptons vacation">More</a></p>
              </div>
              <ul class="cell xlarge-4">
                <li><a href="/corporate-business-travels#Individuals" title="Individuals">Individuals</a></li>
                <li><a href="/corporate-business-travels#Corporate" title="Corporate">Corporate</a></li>
                <li><a href="/corporate-business-travels#states-and-parastatals" title="State &amp; Parastatals">State & Parastatals</a></li>
                <li><a href="/corporate-business-travels#religious-organisations" title="Religious Organizations">Religious Organizations</a></li>
              </ul>
              <div class="cell drop-down__image-wrapper"><img src="/assets/img/card1_picture.jpg" alt="Hamptons Board"/></div>
            </div>
          </li>
          <li class="menu-item has-drop-down"><a href="/tours.html">Tours</a>
            <div class="drop-down grid-x grid-padding-x">
              <div class="cell xlarge-4 drop-down__intro">
                <h4 class="drop-down__intro-heading">Tours</h4>
                <p class="drop-down__intro-body">Whether you are seeking a trip for yourself or for your household, tour experiences are both an informative and engaging way to travel!</p>
                <p><a class="button-secondary" href="/tours.html" title="Hamptons's Tours">More</a></p>
              </div>
              <ul class="cell xlarge-4">
                <li><a href="/tours.html#school-tours" title="School Tours">Schools</a></li>
                <li><a href="/tours.html#Pilgrim" title="Pilgrim">Pilgrims</a></li>
                <li><a href="/tours.html#Medical" title="Medical">Medicals</a></li>
                <li><a href="/tours.html#Conferences" title="Conferences">Conferences</a></li>
                <li><a href="/tours.html#Honeymoons" title="Honeymoons">Honeymoons</a></li>
                <li><a href="/tours.html#Anniversary" title="Anniversary">Anniversaries</a></li>
              </ul>
              <div class="cell drop-down__image-wrapper"><img src="/assets/img/tours.jpg" alt=""/></div>
            </div>
          </li>
          <li class="menu-item"><a href="/faqs.html">FAQs</a></li>
          <li class="menu-item"><a href="/contact.html">Contact Us</a></li>
          <li class="menu-item"><a href="https://hamptonstravels.herokuapp.com/blog">Blog</a></li>
          <li class="menu-action hide">
            <div class="flex-container align-center search">
              <div class="grid-container full search-dropdown">
                <form class="grid-x search__form" action="/search" method="post">
                  <input type="text" name="query" placeholder="Search Hamptons" autocomplete="false"/>
                  <button class="search__submit-btn js-submit-search" type="submit"><span class="icon icon-arrow-right"></span></button>
                </form>
              </div>
              <button class="search__trigger-btn js-search"><span class="icon icon-search"></span></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

src/pug/includes/_nav.pug
nav.nav.cell.small-12.grid-x.align-center
  .cell.grid-x.nav-wrapper.grid-container-w90
    div.brand-wrapper.cell.small-12.xlarge-shrink.align-bottom.grid-x
      .brand.cell.auto.xlarge-12.grid-x.align-middle
        div.shrink.brand-image-wrapper
          a(href="/")
            img(class="brand-image align-self-bottom" src="/assets/img/logo_big.jpg", alt="Hamptons logo")
      .cell.shrink.align-middle.align-right.hamburger-menu-wrapper.js-hamburger.hide-for-xlarge
        .hamburger-menu
          span
    div.menu-wrapper.cell.large-auto.grid-x
      div.cell.grid-y.menu-content
        ul.menu.menu--secondary.cell.align-middle.align-right.no-bullet
          li.menu-action
            img(src="/assets/img/proudly.png", alt="proudly-nigerian" width=80)
            button.button.button--small Quick Contact
            .tooltip
              p <strong>Hamptons Hotline</strong> <br>
                a(href="tel: +234 809 547 6727").color-white +234 809 547 6727
              p
                a(href="mailto:reservations@hamptonstravels.com" target='_blank').color-white reservations@hamptonstravels.com
        ul.menu.menu--primary.cell.no-bullet
          li.menu-item.has-drop-down
            a(href="/about.html") About
            .drop-down.grid-x.grid-padding-x
              .cell.xlarge-4.drop-down__intro
                h4.drop-down__intro-heading About
                p.drop-down__intro-body Our team is made up of experienced travel consultants with extensive travel industry knowledge, equipped with up to date technology and other required industry tools.
                p
                  a(href="/about.html", title="About Hamptons").button-secondary More
              ul.cell.xlarge-4
                li
                  a(href="/about.html#our-mission", title="Our Mission/Vision") Our Mission
                li
                  a(href="/about.html#our-values", title="Our Values") Our Values
                li
                  a(href="/about.html#partnerships", title="Partnerships") Partnerships
              .cell.drop-down__image-wrapper
                img(src="/assets/img/ham-1.jpg", alt="")
          li.menu-item.has-drop-down
            a(href="/services") Services
            .drop-down.grid-x.grid-padding-x
              .cell.xlarge-4.drop-down__intro
                h4.drop-down__intro-heading Services
                p.drop-down__intro-body Travel planning and implementation
                p
                  a(href="/services", title="Hamptons's Focus").button-secondary More

              ul.cell.xlarge-4
                li(icon="icon-chevron-thin-right")
                  a(href="/services#hotel-reservation", title="Hotel Reservation") Hotel Reservation
                li
                  a(href="/services#visa-advisory", title="Visa Advisory") Visa Advisory
                li
                  a(href="/services#tour-packages", title="Tour Packages") Tour Packages
                li
                  a(href="/services#protocol", title="Protocol/Logistics Services") Protocol/Logistics Services
                li
                  a(href="/services#travel-consultations", title="Travel Consultations") Travel Consultations
              .cell.drop-down__image-wrapper
                img(src="/assets/img/card3_picture.jpg", alt="")
          li.menu-item
            a(href="/vacation") Vacation
          li.menu-item.has-drop-down
            a(href="/corporate-business-travels") Corporate/Business Travels
            .drop-down.grid-x.grid-padding-x
              .cell.xlarge-4.drop-down__intro
                h4.drop-down__intro-heading Corporate/Business travels
                p.drop-down__intro-body Hamptons offers professional travel services, private tours, holiday packages, excursions, business persons, families, and individual travellers.
                p
                  a(href="/corporate-business-travels", title="Hamptons vacation").button-secondary More
              ul.cell.xlarge-4
                li
                  a(href="/corporate-business-travels#Individuals", title="Individuals") Individuals
                li
                  a(href="/corporate-business-travels#Corporate", title="Corporate") Corporate
                li
                  a(href="/corporate-business-travels#states-and-parastatals", title="State & Parastatals") State & Parastatals
                li
                  a(href="/corporate-business-travels#religious-organisations", title="Religious Organizations") Religious Organizations
              .cell.drop-down__image-wrapper
                img(src="/assets/img/card1_picture.jpg", alt="Hamptons Board")
          li.menu-item.has-drop-down
            a(href="/tours.html") Tours
            .drop-down.grid-x.grid-padding-x
              .cell.xlarge-4.drop-down__intro
                h4.drop-down__intro-heading Tours
                p.drop-down__intro-body Whether you are seeking a trip for yourself or for your household, tour experiences are both an informative and engaging way to travel!
                p
                  a(href="/tours.html", title="Hamptons's Tours").button-secondary More
              ul.cell.xlarge-4
                li
                  a(href="/tours.html#school-tours", title="School Tours") Schools
                li
                  a(href="/tours.html#Pilgrim", title="Pilgrim") Pilgrims
                li
                  a(href="/tours.html#Medical", title="Medical") Medicals
                li
                  a(href="/tours.html#Conferences", title="Conferences") Conferences
                li
                  a(href="/tours.html#Honeymoons", title="Honeymoons") Honeymoons
                li
                  a(href="/tours.html#Anniversary", title="Anniversary") Anniversaries

              .cell.drop-down__image-wrapper
                img(src="/assets/img/tours.jpg", alt="")
          li.menu-item
            a(href="/faqs.html") FAQs
          li.menu-item
            a(href="/contact.html") Contact Us
          li.menu-item
            a(href="https://hamptonstravels.herokuapp.com/blog") Blog

          li.menu-action.hide
            div.flex-container.align-center.search
              .grid-container.full.search-dropdown
                form(action="/search" method="post").grid-x.search__form
                  input(type="text" name="query" placeholder="Search Hamptons" autocomplete="false")
                  button.search__submit-btn.js-submit-search(type='submit')
                    span.icon.icon-arrow-right
              button.search__trigger-btn.js-search
                span.icon.icon-search
