dist/about.html
<!DOCTYPE html>
<html lang="en" ng-app="website">
  <head>
    <base href="/"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="canonical" href="https://www.hamptonstravels.com"/>
    <!-- meta content-->
    <title>Travel Agency and Group Tour Operator in Lagos, Nigeria | Hamptons Tours and Travel</title>
    <meta name="description"/>
    <!--Schema.org-->
    <meta itemprop="name"/>
    <meta itemprop="description"/>
    <meta itemprop="image"/>
    <!--open graph-->
    <meta property="og:title" content="Travel Agency and Group Tour Operator in Lagos, Nigeria | Hamptons Tours and Travel"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Plan your dream tour or vacation with Hamptons Travel and tours Agency, Hamptons Tour and Travel. Click to start planning your next Trip or Group Tour today!"/>
    <meta property="og:site_name" content="Hampton Travel and Tours"/>
    <meta name="google-site-verification" content="Fnic2NpCePepki8nlr__ufhxtiG5aVClLHTmpkg4w84"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,500,600,700&amp;display=swap" rel="stylesheet"/>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PKBC7TC');
    </script>
    <script>
      function initFreshChat() {
      window.fcWidget.init({
      token: "dde91050-e6dd-4971-9206-e00f67e61b40",
      host: "https://wchat.freshchat.com"
        });
      }
      function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
      
    </script>
    <link href="/assets/css/blog.css" rel="stylesheet"/>
    <link href="/assets/css/app.css?06" rel="stylesheet"/>
    <title>
    </title>
  </head>
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKBC7TC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="grid-container full">
      <nav class="nav cell small-12 grid-x align-center">
        <div class="cell grid-x nav-wrapper grid-container-w90">
          <div class="brand-wrapper cell small-12 xlarge-shrink align-bottom grid-x">
            <div class="brand cell auto xlarge-12 grid-x align-middle">
              <div class="shrink brand-image-wrapper"><a href="/"><img class="brand-image align-self-bottom" src="/assets/img/logo_big.jpg" alt="Hamptons logo"/></a></div>
            </div>
            <div class="cell shrink align-middle align-right hamburger-menu-wrapper js-hamburger hide-for-xlarge">
              <div class="hamburger-menu"><span></span></div>
            </div>
          </div>
          <div class="menu-wrapper cell large-auto grid-x">
            <div class="cell grid-y menu-content">
              <ul class="menu menu--secondary cell align-middle align-right no-bullet">
                <li class="menu-action"><img src="/assets/img/proudly.png" alt="proudly-nigerian" width="80"/>
                  <button class="button button--small">Quick Contact</button>
                  <div class="tooltip">
                    <p><strong>Hamptons Hotline</strong> <br><a class="color-white" href="tel: +234 809 547 6727">+234 809 547 6727</a></p>
                    <p><a class="color-white" href="mailto:reservations@hamptonstravels.com" target="_blank">reservations@hamptonstravels.com</a></p>
                  </div>
                </li>
              </ul>
              <ul class="menu menu--primary cell no-bullet">
                <li class="menu-item has-drop-down"><a href="/about.html">About</a>
                  <div class="drop-down grid-x grid-padding-x">
                    <div class="cell xlarge-4 drop-down__intro">
                      <h4 class="drop-down__intro-heading">About</h4>
                      <p class="drop-down__intro-body">Our team is made up of experienced travel consultants with extensive travel industry knowledge, equipped with up to date technology and other required industry tools.</p>
                      <p><a class="button-secondary" href="/about.html" title="About Hamptons">More</a></p>
                    </div>
                    <ul class="cell xlarge-4">
                      <li><a href="/about.html#our-mission" title="Our Mission/Vision">Our Mission</a></li>
                      <li><a href="/about.html#our-values" title="Our Values">Our Values</a></li>
                      <li><a href="/about.html#partnerships" title="Partnerships">Partnerships</a></li>
                    </ul>
                    <div class="cell drop-down__image-wrapper"><img src="/assets/img/ham-1.jpg" alt=""/></div>
                  </div>
                </li>
                <li class="menu-item has-drop-down"><a href="/services">Services</a>
                  <div class="drop-down grid-x grid-padding-x">
                    <div class="cell xlarge-4 drop-down__intro">
                      <h4 class="drop-down__intro-heading">Services</h4>
                      <p class="drop-down__intro-body">Travel planning and implementation</p>
                      <p><a class="button-secondary" href="/services" title="Hamptons's Focus">More</a></p>
                    </div>
                    <ul class="cell xlarge-4">
                      <li icon="icon-chevron-thin-right"><a href="/services#hotel-reservation" title="Hotel Reservation">Hotel Reservation</a></li>
                      <li><a href="/services#visa-advisory" title="Visa Advisory">Visa Advisory</a></li>
                      <li><a href="/services#tour-packages" title="Tour Packages">Tour Packages</a></li>
                      <li><a href="/services#protocol" title="Protocol/Logistics Services">Protocol/Logistics Services</a></li>
                      <li><a href="/services#travel-consultations" title="Travel Consultations">Travel Consultations</a></li>
                    </ul>
                    <div class="cell drop-down__image-wrapper"><img src="/assets/img/card3_picture.jpg" alt=""/></div>
                  </div>
                </li>
                <li class="menu-item"><a href="/vacation">Vacation</a></li>
                <li class="menu-item has-drop-down"><a href="/corporate-business-travels">Corporate/Business Travels</a>
                  <div class="drop-down grid-x grid-padding-x">
                    <div class="cell xlarge-4 drop-down__intro">
                      <h4 class="drop-down__intro-heading">Corporate/Business travels</h4>
                      <p class="drop-down__intro-body">Hamptons offers professional travel services, private tours, holiday packages, excursions, business persons, families, and individual travellers.</p>
                      <p><a class="button-secondary" href="/corporate-business-travels" title="Hamptons vacation">More</a></p>
                    </div>
                    <ul class="cell xlarge-4">
                      <li><a href="/corporate-business-travels#Individuals" title="Individuals">Individuals</a></li>
                      <li><a href="/corporate-business-travels#Corporate" title="Corporate">Corporate</a></li>
                      <li><a href="/corporate-business-travels#states-and-parastatals" title="State &amp; Parastatals">State & Parastatals</a></li>
                      <li><a href="/corporate-business-travels#religious-organisations" title="Religious Organizations">Religious Organizations</a></li>
                    </ul>
                    <div class="cell drop-down__image-wrapper"><img src="/assets/img/card1_picture.jpg" alt="Hamptons Board"/></div>
                  </div>
                </li>
                <li class="menu-item has-drop-down"><a href="/tours.html">Tours</a>
                  <div class="drop-down grid-x grid-padding-x">
                    <div class="cell xlarge-4 drop-down__intro">
                      <h4 class="drop-down__intro-heading">Tours</h4>
                      <p class="drop-down__intro-body">Whether you are seeking a trip for yourself or for your household, tour experiences are both an informative and engaging way to travel!</p>
                      <p><a class="button-secondary" href="/tours.html" title="Hamptons's Tours">More</a></p>
                    </div>
                    <ul class="cell xlarge-4">
                      <li><a href="/tours.html#school-tours" title="School Tours">Schools</a></li>
                      <li><a href="/tours.html#Pilgrim" title="Pilgrim">Pilgrims</a></li>
                      <li><a href="/tours.html#Medical" title="Medical">Medicals</a></li>
                      <li><a href="/tours.html#Conferences" title="Conferences">Conferences</a></li>
                      <li><a href="/tours.html#Honeymoons" title="Honeymoons">Honeymoons</a></li>
                      <li><a href="/tours.html#Anniversary" title="Anniversary">Anniversaries</a></li>
                    </ul>
                    <div class="cell drop-down__image-wrapper"><img src="/assets/img/tours.jpg" alt=""/></div>
                  </div>
                </li>
                <li class="menu-item"><a href="/faqs.html">FAQs</a></li>
                <li class="menu-item"><a href="/contact.html">Contact Us</a></li>
                <li class="menu-item"><a href="https://hamptonstravels.herokuapp.com/blog">Blog</a></li>
                <li class="menu-action hide">
                  <div class="flex-container align-center search">
                    <div class="grid-container full search-dropdown">
                      <form class="grid-x search__form" action="/search" method="post">
                        <input type="text" name="query" placeholder="Search Hamptons" autocomplete="false"/>
                        <button class="search__submit-btn js-submit-search" type="submit"><span class="icon icon-arrow-right"></span></button>
                      </form>
                    </div>
                    <button class="search__trigger-btn js-search"><span class="icon icon-search"></span></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
            <header class="header width-100 overflow-hidden header--center header--with-context"><img class="small__banner" src="/assets/img/about-banner.jpg" alt="hamptons travel and tours" width="100%"/>
            </header>
            <div class="breadcrumb">
              <div class="grid-container-w90">
                <div class="grid-x">
                  <ul class="cell">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/about">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
      <div class="grid-container-w90 section">
        <div class="grid-x grid-margin-y">
          <div class="cell large-7">
            <h2 class="h2 color-black font-bold text-sans margin-bottom-2">About Hamptons Tour & Travels</h2>
            <p>Hamptons Travel & Tours Ltd is an IATA (International Air Transport Association) Accredited Travel Agency located in Lagos that specializes in local, regional and international travel services and offers a broad range of travel products and services which includes, Ticket Booking, Hotel Services, Visa Advisory, Protocol and Logistics Services, Cruises and Tour Packages.</p>
            <p>Our pride is in our passion for travels and consistent excellent customer service. Our team is made up of the most exceptional travel consultants with extensive knowledge in the travel industry, equipped with up to date technology and required industry tools. </p>
            <p>Hamptons Travel and Tours Ltd is also a member of NANTA (National Association of Nigerian Travel Agents)</p>
            <div id="our-mission">
              <div class="margin-top-2 margin-bottom-2">
                <h4 class="h4 font-bold color-primary">Our Mission</h4>
                <p>At Hamptons Travel & Tours, we aim to provide Service, Comfort, and Luxury for all categories of travellers. When the conversation turns to travel, we want our clients to say, "<strong>I travel with Hamptons</strong>"</p>
              </div>
            </div>
            <div id="our-vision">
              <div class="margin-top-2 margin-bottom-2">
                <h4 class="h4 font-bold color-primary">Our Vision</h4>
                <p><strong>Hospitality</strong> We assure friendliness, warmth, kindness, generosity, liberality, generosity, sociability and conviviality to all our customers</p>
                <p><strong>Transparency</strong> We assure clear transparency in all our transactions with our entire clients</p>
                <p><strong>Teamwork</strong> Teamwork makes the Dream Works</p>
                <p><strong>Loyalty</strong> Our allegiance is to our clients</p>
              </div>
            </div>
            <div class="margin-top-3" id="our-culture">
              <div class="margin-top-2 margin-bottom-2">
                <h4 class="h4 font-bold color-primary">Our Culture</h4>
                <p>Over time is a healthy, respectful, and enjoyable environment that boosts our customer friendliness and pro-activeness in service delivery while giving competitive prices to all our clients.
                  <p><strong>Consistent follow-up</strong> is mandatory to ensure customer satisfaction. <br><br> <strong>Internally</strong> we create and nurture a healthy, respectful, and enjoyable environment, in which our consultants are fairly compensated and encouraged to respect the customer and the quality of the service we provide. <br><br> <strong>We seek fair</strong> and responsible profit, enough to keep the company financially healthy for the short and long term, and to fairly remunerate employees for the work and effort.</p>
                </p>
              </div>
            </div>
            <div class="margin-top-3" id="our-values">
              <div class="margin-top-2 margin-bottom-2">
                <h4 class="h4 font-bold color-primary">Our Values</h4>
                <div class="grid-x align-middle"><span class="icon icon-arrow-right icon-1x color-primary margin-right-1"></span>
                  <h6 class="color-black text-center text-serif margin-bottom-0 emphasize-point">Commitment</h6>
                </div>
                <div class="grid-x align-middle"><span class="icon icon-arrow-right icon-1x color-primary margin-right-1"></span>
                  <h6 class="color-black text-center text-serif margin-bottom-0 emphasize-point">Dependability</h6>
                </div>
                <div class="grid-x align-middle"><span class="icon icon-arrow-right icon-1x color-primary margin-right-1"></span>
                  <h6 class="color-black text-center text-serif margin-bottom-0 emphasize-point">Integrity</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="cell large-3 large-offset-1">
            <ul class="aside__links">
              <li><a class="font-bold color-black" href="/about.html#our-mission">Our Mission</a></li>
              <li><a class="font-bold color-black" href="/about.html#our-values">Our Values</a></li>
              <li><a class="font-bold color-black" href="/about.html#partnerships">Partnerships</a></li>
            </ul>
          </div>
        </div>
        <div class="margin-top-3" id="partnerships">
          <div class="margin-top-2 margin-bottom-2">
            <h4 class="h4 font-bold color-primary">Partnership</h4>
            <div class="grid-x js-partner-slide partners__slide">
              <div class="cell"><img src="/assets/img/ap1.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap2.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap3.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap4.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap5.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap6.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap7.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap8.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap9.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap10.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap11.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap12.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap13.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap14.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap15.jpg" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap17.png" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap18.jpg" alt="hamptons travel and tours"/></div>
              <div class="cell"><img src="/assets/img/ap19.png" alt="hamptons travel and tours"/></div>
            </div>
          </div>
        </div>
        <div class="margin-top-3">
          <div class="margin-top-2 margin-bottom-2">
            <h4 class="h4 font-bold color-primary">Technology Partners</h4>
            <div class="grid-x js-tech-partner-slide partners__slide large-up-8">
              <div class="cell"><img src="/assets/img/amadeu.svg" alt="Amadeu"/></div>
              <div class="cell"><img src="/assets/img/galileo.svg" alt="Galileo"/></div>
              <div class="cell"><img src="/assets/img/Sabre_Corporation_logo.svg" alt="Sabre Corporation"/></div>
              <div class="cell"><img src="/assets/img/farelogix.svg" alt="farelogix"/></div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer">
          <div class="grid-container-w90 full grid-x footer__top">
            <div class="cell large-6 grid-x grid-padding-y">
              <h3 class="h4 margin-bottom-0 font-bold">Get Hamptons in your Inbox</h3>
              <div class="cell footer__subscribe grid-x margin-bottom-0">
                <form class="cell grid-x" name="subscribe" method="POST" data-netlify="true">
                  <div class="cell large-8">
                    <input class="margin-bottom-0" type="email" name="subscriber-email" placeholder="Enter your email" required="required"/>
                  </div>
                  <div class="cell large-4">
                    <button class="footer__subscribe__btn bg-primary color-white" type="submit">Submit</button>
                  </div>
                </form>
              </div>
              <div class="cell small-8 medium-5 footer__address padding-top-0 padding-bottom-0">
                <p>Hamptons Travel & Tours Ltd. <br> 71 Opebi Road, Ikeja Lagos, Nigeria</p>
              </div>
              <div class="cell padding-top-0"><a class="color-white" href="mailto:reservations@hamptonstravels.com" target="_blank">reservations@hamptonstravels.com</a></div>
            </div>
            <div class="cell large-5 large-offset-1 grid-x align-right">
              <div class="cell grid-x">
                <div class="cell footer__tel-wrapper"><a class="color-white footer__tel margin-right-1" href="tel: +234 809 547 6727">+234 809 547 6727</a><a class="color-white footer__tel" href="tel: +234 809 547 6724">+234 809 547 6724</a></div>
              </div>
              <div class="cell large-7 small-up-3 grid-x grid-padding-y footer__tel-wrapper">
                <div class="cell padding-top-0"><a class="color-white font-14" href="faqs.html">FAQs</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="about.html">About</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="contact.html">Contact-us</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="vacation">Vacations</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="tours.html">Tours</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="services">Services</a></div>
              </div>
              <div class="cell grid-x footer__tel-wrapper partners__slide small-up-6 large-up-6 align-end">
                <div class="cell margin-right-2 position-relative"><img class="position-absolute" src="/assets/img/iata.png" alt="IATA" style="left: 0; bottom: 22%;"/></div>
                <div class="cell margin-right-2 position-relative"><img class="position-absolute" src="/assets/img/nanta-logo.png" alt="NANTA" style="left: 0; bottom: 25%;"/></div>
                <div class="cell"><img src="/assets/img/naca_logo.svg" alt="NACA"/></div>
              </div>
            </div>
          </div>
          <div class="grid-container-w90 full grid-x footer__bottom grid-padding-y">
            <div class="cell large-6 grid-x">
              <h6 class="h6 smaller">© Copyright 1985 - 2019 Hamptons. All Rights Reserved</h6>
            </div>
            <div class="cell large-6 grid-x footer__bottom__social footer__tel-wrapper"><a class="color-white" href="">
                <div class="icon icon-facebook icon-1x margin-right-2"></div></a><a class="color-white" href="">
                <div class="icon icon-twitter icon-1x margin-right-2"></div></a><a class="color-white" href="">
                <div class="icon icon-youtube icon-1x margin-right-2"></div></a><a class="color-white" href="">
                <div class="icon icon-instagram icon-1x"></div></a></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
  <script src="https://cdn.jsdelivr.net/combine/npm/lightgallery,npm/lg-autoplay,npm/lg-fullscreen,npm/lg-hash,npm/lg-pager,npm/lg-share,npm/lg-thumbnail,npm/lg-zoom"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script src="https://parsleyjs.org/dist/parsley.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  </script>
  <script src="//static.cdn.prismic.io/prismic.min.js"></script>
  <script src="/assets/js/app.js"></script>
</html>

src/pug/about.pug
extends ./_layout
block title
block content
  include ./components/_header
  +header([{src: 'about-banner.jpg', alt: 'hamptons travel and tours'}])(class="header--center header--with-context")
  //- BREADCRUMB
  include ./components/_breadcrumb
  +breadcrumb([{title:'About', href:'about'}])

  .grid-container-w90.section
    .grid-x.grid-margin-y
      .cell.large-7
        h2.h2.color-black.font-bold.text-sans.margin-bottom-2 About Hamptons Tour & Travels
        p Hamptons Travel & Tours Ltd is an IATA (International Air Transport Association) Accredited Travel Agency located in Lagos that specializes in local, regional and international travel services and offers a broad range of travel products and services which includes, Ticket Booking, Hotel Services, Visa Advisory, Protocol and Logistics Services, Cruises and Tour Packages.
        p Our pride is in our passion for travels and consistent excellent customer service. Our team is made up of the most exceptional travel consultants with extensive knowledge in the travel industry, equipped with up to date technology and required industry tools. 
        p Hamptons Travel and Tours Ltd is also a member of NANTA (National Association of Nigerian Travel Agents)

        
        div#our-mission
          div.margin-top-2.margin-bottom-2
            h4.h4.font-bold.color-primary Our Mission
            p At Hamptons Travel & Tours, we aim to provide Service, Comfort, and Luxury for all categories of travellers. When the conversation turns to travel, we want our clients to say, "<strong>I travel with Hamptons</strong>"
        div#our-vision
          div.margin-top-2.margin-bottom-2
            h4.h4.font-bold.color-primary Our Vision
            p <strong>Hospitality</strong> We assure friendliness, warmth, kindness, generosity, liberality, generosity, sociability and conviviality to all our customers
            p <strong>Transparency</strong> We assure clear transparency in all our transactions with our entire clients
            p <strong>Teamwork</strong> Teamwork makes the Dream Works
            p <strong>Loyalty</strong> Our allegiance is to our clients
        div.margin-top-3#our-culture
          div.margin-top-2.margin-bottom-2
            h4.h4.font-bold.color-primary Our Culture
            p Over time is a healthy, respectful, and enjoyable environment that boosts our customer friendliness and pro-activeness in service delivery while giving competitive prices to all our clients.
              p <strong>Consistent follow-up</strong> is mandatory to ensure customer satisfaction. <br><br> <strong>Internally</strong> we create and nurture a healthy, respectful, and enjoyable environment, in which our consultants are fairly compensated and encouraged to respect the customer and the quality of the service we provide. <br><br> <strong>We seek fair</strong> and responsible profit, enough to keep the company financially healthy for the short and long term, and to fairly remunerate employees for the work and effort.
          
        div.margin-top-3#our-values
          div.margin-top-2.margin-bottom-2
            h4.h4.font-bold.color-primary Our Values
            .grid-x.align-middle
              span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
              h6.color-black.text-center.text-serif.margin-bottom-0.emphasize-point Commitment
            .grid-x.align-middle
              span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
              h6.color-black.text-center.text-serif.margin-bottom-0.emphasize-point Dependability
            .grid-x.align-middle
              span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
              h6.color-black.text-center.text-serif.margin-bottom-0.emphasize-point Integrity

        

      .cell.large-3.large-offset-1
        ul.aside__links
          each info in aboutAsideLink
            li
              a(href=info.link).font-bold.color-black= info.title
    div.margin-top-3#partnerships
      div.margin-top-2.margin-bottom-2
        h4.h4.font-bold.color-primary Partnership
        div.grid-x.js-partner-slide.partners__slide
          .cell
            img(src="/assets/img/ap1.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap2.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap3.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap4.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap5.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap6.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap7.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap8.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap9.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap10.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap11.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap12.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap13.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap14.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap15.jpg", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap17.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap18.jpg", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap19.png", alt="hamptons travel and tours")
    div.margin-top-3
      div.margin-top-2.margin-bottom-2
        h4.h4.font-bold.color-primary Technology Partners
        div.grid-x.js-tech-partner-slide.partners__slide.large-up-8
          .cell
            img(src="/assets/img/amadeu.svg", alt="Amadeu")
          .cell
            img(src="/assets/img/galileo.svg", alt="Galileo")
          .cell
            img(src="/assets/img/Sabre_Corporation_logo.svg", alt="Sabre Corporation")
          .cell
            img(src="/assets/img/farelogix.svg", alt="farelogix")
