src/pug/index.pug
extends _layout
block title
block content
  include ./components/_header
  +header([
  { title: "With us, good travel and tour comes in easy" , src: 'banner-1.jpg', alt: 'hamptons travel and tours', subtitle: 'The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.', button:'Let\'s help you Plan'},
  { title: "With us, good travel and tour comes in easy" , src: 'banner-4.jpg', alt: 'hamptons travel and tours', subtitle: 'The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.', button:'Let\'s help you Plan'},
  { title: "With us, good travel and tour comes in easy" , src: 'banner-7.jpg', alt: 'hamptons travel and tours', subtitle: 'The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.', button:'Let\'s help you Plan'},
  ])

  .grid-container-w90.section.padding-bottom-0
    .grid-x
      .cell.large-8.large-centered
        .icon.icon-travel.icon-4x.color-primary.text-center
        h2.h2.color-primary.text-center.font-bold.text-sans Do you know why our customers keep coming back for more? Let us show you why!
  .grid-container-w90.section.padding-bottom-0
    .grid-x
      .cell.large-8.large-centered.text-center
        h2.h3.color-black.text-center.font-bold.margin-bottom-2.underline Discover what we do
      .cell.grid-x.medium-up-2.large-up-3.grid-padding-x.grid-padding-y
        each info in whatWeDo
            a.cell.block__image-with-text.text-sans(href=info.link)
                figure
                  img(src=info.image, alt=info.title)
                  figcaption.color-white= info.title
      .grid-x.grid-padding-x.grid-padding-y.span-across
        .cell.block__image-with-text
          figure
            .block__image-wrapper
              img(src="/assets/img/group-travel.jpg", alt="sunset at hamptons")
            figcaption.color-white.big-block
              h2.h3.margin-bottom-1 Experience group travel at its finest
              h5.h5.margin-bottom-2 Hampton has extensive experience planning customized group travel.
              a(href="/contact.html")
                button.button.bg-primary.color-white Lets help you plan
  .grid-container-w90
    .grid-x
      .cell.large-8.large-centered.text-center
          div.margin-top-2.margin-bottom-2
            h2.h3.font-bold.color-primary Testimonials
            div.carousel
              div
                em "After travelling with Hapmtons over the years, it is safe to say that their customer service is satisfactory and their travel services are reliable."
                p.text-center.font-bold.font-14 Dayo
              div
                em "The easiest thing to do is handing over my travel needs and budget to Hamptons; they do their job best."
                p.text-center.font-bold.font-14 Itunu
              div
                em "My business partner referred me to Hamptons, and it has been great doing my travels with them. Top-notch delivery, I must say."
                p.text-center.font-bold.font-14 Boluwatife
  .grid-container-w90.section
    .grid-x
      .cell.large-8.large-centered.text-center
        h2.h2.color-black.text-center.font-bold.margin-bottom-2.text-sans Take an exceptional vacation you will remember for a lifetime.
        a(href="/contact.html")
            button.button.bg-primary.color-white Lets help you plan

dist/index.html
<!DOCTYPE html>
<html lang="en" ng-app="website">
  <head>
    <base href="/"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="canonical" href="https://www.hamptonstravels.com"/>
    <!-- meta content-->
    <title>Travel Agency and Group Tour Operator in Lagos, Nigeria | Hamptons Tours and Travel</title>
    <meta name="description"/>
    <!--Schema.org-->
    <meta itemprop="name"/>
    <meta itemprop="description"/>
    <meta itemprop="image"/>
    <!--open graph-->
    <meta property="og:title" content="Travel Agency and Group Tour Operator in Lagos, Nigeria | Hamptons Tours and Travel"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Plan your dream tour or vacation with Hamptons Travel and tours Agency, Hamptons Tour and Travel. Click to start planning your next Trip or Group Tour today!"/>
    <meta property="og:site_name" content="Hampton Travel and Tours"/>
    <meta name="google-site-verification" content="Fnic2NpCePepki8nlr__ufhxtiG5aVClLHTmpkg4w84"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,500,600,700&amp;display=swap" rel="stylesheet"/>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PKBC7TC');
    </script>
    <script>
      function initFreshChat() {
      window.fcWidget.init({
      token: "dde91050-e6dd-4971-9206-e00f67e61b40",
      host: "https://wchat.freshchat.com"
        });
      }
      function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
      
    </script>
    <link href="/assets/css/blog.css" rel="stylesheet"/>
    <link href="/assets/css/app.css?06" rel="stylesheet"/>
    <title>
    </title>
  </head>
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKBC7TC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="grid-container full">
      <nav class="nav cell small-12 grid-x align-center">
        <div class="cell grid-x nav-wrapper grid-container-w90">
          <div class="brand-wrapper cell small-12 xlarge-shrink align-bottom grid-x">
            <div class="brand cell auto xlarge-12 grid-x align-middle">
              <div class="shrink brand-image-wrapper"><a href="/"><img class="brand-image align-self-bottom" src="/assets/img/logo_big.jpg" alt="Hamptons logo"/></a></div>
            </div>
            <div class="cell shrink align-middle align-right hamburger-menu-wrapper js-hamburger hide-for-xlarge">
              <div class="hamburger-menu"><span></span></div>
            </div>
          </div>
          <div class="menu-wrapper cell large-auto grid-x">
            <div class="cell grid-y menu-content">
              <ul class="menu menu--secondary cell align-middle align-right no-bullet">
                <li class="menu-action"><img src="/assets/img/proudly.png" alt="proudly-nigerian" width="80"/>
                  <button class="button button--small">Quick Contact</button>
                  <div class="tooltip">
                    <p><strong>Hamptons Hotline</strong> <br><a class="color-white" href="tel: +234 809 547 6727">+234 809 547 6727</a></p>
                    <p><a class="color-white" href="mailto:reservations@hamptonstravels.com" target="_blank">reservations@hamptonstravels.com</a></p>
                  </div>
                </li>
              </ul>
              <ul class="menu menu--primary cell no-bullet">
                <li class="menu-item has-drop-down"><a href="/about.html">About</a>
                  <div class="drop-down grid-x grid-padding-x">
                    <div class="cell xlarge-4 drop-down__intro">
                      <h4 class="drop-down__intro-heading">About</h4>
                      <p class="drop-down__intro-body">Our team is made up of experienced travel consultants with extensive travel industry knowledge, equipped with up to date technology and other required industry tools.</p>
                      <p><a class="button-secondary" href="/about.html" title="About Hamptons">More</a></p>
                    </div>
                    <ul class="cell xlarge-4">
                      <li><a href="/about.html#our-mission" title="Our Mission/Vision">Our Mission</a></li>
                      <li><a href="/about.html#our-values" title="Our Values">Our Values</a></li>
                      <li><a href="/about.html#partnerships" title="Partnerships">Partnerships</a></li>
                    </ul>
                    <div class="cell drop-down__image-wrapper"><img src="/assets/img/ham-1.jpg" alt=""/></div>
                  </div>
                </li>
                <li class="menu-item has-drop-down"><a href="/services">Services</a>
                  <div class="drop-down grid-x grid-padding-x">
                    <div class="cell xlarge-4 drop-down__intro">
                      <h4 class="drop-down__intro-heading">Services</h4>
                      <p class="drop-down__intro-body">Travel planning and implementation</p>
                      <p><a class="button-secondary" href="/services" title="Hamptons's Focus">More</a></p>
                    </div>
                    <ul class="cell xlarge-4">
                      <li icon="icon-chevron-thin-right"><a href="/services#hotel-reservation" title="Hotel Reservation">Hotel Reservation</a></li>
                      <li><a href="/services#visa-advisory" title="Visa Advisory">Visa Advisory</a></li>
                      <li><a href="/services#tour-packages" title="Tour Packages">Tour Packages</a></li>
                      <li><a href="/services#protocol" title="Protocol/Logistics Services">Protocol/Logistics Services</a></li>
                      <li><a href="/services#travel-consultations" title="Travel Consultations">Travel Consultations</a></li>
                    </ul>
                    <div class="cell drop-down__image-wrapper"><img src="/assets/img/card3_picture.jpg" alt=""/></div>
                  </div>
                </li>
                <li class="menu-item"><a href="/vacation">Vacation</a></li>
                <li class="menu-item has-drop-down"><a href="/corporate-business-travels">Corporate/Business Travels</a>
                  <div class="drop-down grid-x grid-padding-x">
                    <div class="cell xlarge-4 drop-down__intro">
                      <h4 class="drop-down__intro-heading">Corporate/Business travels</h4>
                      <p class="drop-down__intro-body">Hamptons offers professional travel services, private tours, holiday packages, excursions, business persons, families, and individual travellers.</p>
                      <p><a class="button-secondary" href="/corporate-business-travels" title="Hamptons vacation">More</a></p>
                    </div>
                    <ul class="cell xlarge-4">
                      <li><a href="/corporate-business-travels#Individuals" title="Individuals">Individuals</a></li>
                      <li><a href="/corporate-business-travels#Corporate" title="Corporate">Corporate</a></li>
                      <li><a href="/corporate-business-travels#states-and-parastatals" title="State &amp; Parastatals">State & Parastatals</a></li>
                      <li><a href="/corporate-business-travels#religious-organisations" title="Religious Organizations">Religious Organizations</a></li>
                    </ul>
                    <div class="cell drop-down__image-wrapper"><img src="/assets/img/card1_picture.jpg" alt="Hamptons Board"/></div>
                  </div>
                </li>
                <li class="menu-item has-drop-down"><a href="/tours.html">Tours</a>
                  <div class="drop-down grid-x grid-padding-x">
                    <div class="cell xlarge-4 drop-down__intro">
                      <h4 class="drop-down__intro-heading">Tours</h4>
                      <p class="drop-down__intro-body">Whether you are seeking a trip for yourself or for your household, tour experiences are both an informative and engaging way to travel!</p>
                      <p><a class="button-secondary" href="/tours.html" title="Hamptons's Tours">More</a></p>
                    </div>
                    <ul class="cell xlarge-4">
                      <li><a href="/tours.html#school-tours" title="School Tours">Schools</a></li>
                      <li><a href="/tours.html#Pilgrim" title="Pilgrim">Pilgrims</a></li>
                      <li><a href="/tours.html#Medical" title="Medical">Medicals</a></li>
                      <li><a href="/tours.html#Conferences" title="Conferences">Conferences</a></li>
                      <li><a href="/tours.html#Honeymoons" title="Honeymoons">Honeymoons</a></li>
                      <li><a href="/tours.html#Anniversary" title="Anniversary">Anniversaries</a></li>
                    </ul>
                    <div class="cell drop-down__image-wrapper"><img src="/assets/img/tours.jpg" alt=""/></div>
                  </div>
                </li>
                <li class="menu-item"><a href="/faqs.html">FAQs</a></li>
                <li class="menu-item"><a href="/contact.html">Contact Us</a></li>
                <li class="menu-item"><a href="https://hamptonstravels.herokuapp.com/blog">Blog</a></li>
                <li class="menu-action hide">
                  <div class="flex-container align-center search">
                    <div class="grid-container full search-dropdown">
                      <form class="grid-x search__form" action="/search" method="post">
                        <input type="text" name="query" placeholder="Search Hamptons" autocomplete="false"/>
                        <button class="search__submit-btn js-submit-search" type="submit"><span class="icon icon-arrow-right"></span></button>
                      </form>
                    </div>
                    <button class="search__trigger-btn js-search"><span class="icon icon-search"></span></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
            <header class="header width-100 overflow-hidden undefined">
              <div class="carousel header__carousel">
                <div style="height: 100%"><img class="header__image" src="/assets/img/banner-1.jpg" alt="hamptons travel and tours"/>
                  <div class="header__title-wrapper grid-x align-middle">
                    <div class="title cell large-8 large-centered padding-top-3">
                      <h1 class="h2 margin-bottom-2 text-sans font-bold">With us, good travel and tour comes in easy</h1>
                      <h3 class="h5 margin-bottom-2 text-serif no-letter-spacing text-serif">The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.</h3><a href="/contact.html">
                        <button class="button bg-white color-primary">Let's help you Plan</button></a>
                    </div>
                  </div>
                </div>
                <div style="height: 100%"><img class="header__image" src="/assets/img/banner-4.jpg" alt="hamptons travel and tours"/>
                  <div class="header__title-wrapper grid-x align-middle">
                    <div class="title cell large-8 large-centered padding-top-3">
                      <h1 class="h2 margin-bottom-2 text-sans font-bold">With us, good travel and tour comes in easy</h1>
                      <h3 class="h5 margin-bottom-2 text-serif no-letter-spacing text-serif">The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.</h3><a href="/contact.html">
                        <button class="button bg-white color-primary">Let's help you Plan</button></a>
                    </div>
                  </div>
                </div>
                <div style="height: 100%"><img class="header__image" src="/assets/img/banner-7.jpg" alt="hamptons travel and tours"/>
                  <div class="header__title-wrapper grid-x align-middle">
                    <div class="title cell large-8 large-centered padding-top-3">
                      <h1 class="h2 margin-bottom-2 text-sans font-bold">With us, good travel and tour comes in easy</h1>
                      <h3 class="h5 margin-bottom-2 text-serif no-letter-spacing text-serif">The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.</h3><a href="/contact.html">
                        <button class="button bg-white color-primary">Let's help you Plan</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </header>
      <div class="grid-container-w90 section padding-bottom-0">
        <div class="grid-x">
          <div class="cell large-8 large-centered">
            <div class="icon icon-travel icon-4x color-primary text-center"></div>
            <h2 class="h2 color-primary text-center font-bold text-sans">Do you know why our customers keep coming back for more? Let us show you why!</h2>
          </div>
        </div>
      </div>
      <div class="grid-container-w90 section padding-bottom-0">
        <div class="grid-x">
          <div class="cell large-8 large-centered text-center">
            <h2 class="h3 color-black text-center font-bold margin-bottom-2 underline">Discover what we do</h2>
          </div>
          <div class="cell grid-x medium-up-2 large-up-3 grid-padding-x grid-padding-y"><a class="cell block__image-with-text text-sans" href="/services#travel-consultations">
              <figure><img src="/assets/img/card1_picture.jpg" alt="Travel Consultations"/>
                <figcaption class="color-white">Travel Consultations</figcaption>
              </figure></a><a class="cell block__image-with-text text-sans" href="/services#hotel-reservation">
              <figure><img src="/assets/img/ticketing.jpg" alt="Reservations"/>
                <figcaption class="color-white">Reservations</figcaption>
              </figure></a><a class="cell block__image-with-text text-sans" href="/services#visa-advisory">
              <figure><img src="/assets/img/visa-advisory.jpg" alt="Visa advisory / support"/>
                <figcaption class="color-white">Visa advisory / support</figcaption>
              </figure></a><a class="cell block__image-with-text text-sans" href="/vacation">
              <figure><img src="/assets/img/ham-1.jpg" alt="Vacation"/>
                <figcaption class="color-white">Vacation</figcaption>
              </figure></a><a class="cell block__image-with-text text-sans" href="/services#travel-consultations">
              <figure><img src="/assets/img/travel-planning.jpg" alt="Travel planning and implementation"/>
                <figcaption class="color-white">Travel planning and implementation</figcaption>
              </figure></a><a class="cell block__image-with-text text-sans" href="/tours.html">
              <figure><img src="/assets/img/tours.jpg" alt="Tours"/>
                <figcaption class="color-white">Tours</figcaption>
              </figure></a>
          </div>
          <div class="grid-x grid-padding-x grid-padding-y span-across">
            <div class="cell block__image-with-text">
              <figure>
                <div class="block__image-wrapper"><img src="/assets/img/group-travel.jpg" alt="sunset at hamptons"/></div>
                <figcaption class="color-white big-block">
                  <h2 class="h3 margin-bottom-1">Experience group travel at its finest</h2>
                  <h5 class="h5 margin-bottom-2">Hampton has extensive experience planning customized group travel.</h5><a href="/contact.html">
                    <button class="button bg-primary color-white">Lets help you plan</button></a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-container-w90">
        <div class="grid-x">
          <div class="cell large-8 large-centered text-center">
            <div class="margin-top-2 margin-bottom-2">
              <h2 class="h3 font-bold color-primary">Testimonials</h2>
              <div class="carousel">
                <div><em>"After travelling with Hapmtons over the years, it is safe to say that their customer service is satisfactory and their travel services are reliable."</em>
                  <p class="text-center font-bold font-14">Dayo</p>
                </div>
                <div><em>"The easiest thing to do is handing over my travel needs and budget to Hamptons; they do their job best."</em>
                  <p class="text-center font-bold font-14">Itunu</p>
                </div>
                <div><em>"My business partner referred me to Hamptons, and it has been great doing my travels with them. Top-notch delivery, I must say."</em>
                  <p class="text-center font-bold font-14">Boluwatife</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-container-w90 section">
        <div class="grid-x">
          <div class="cell large-8 large-centered text-center">
            <h2 class="h2 color-black text-center font-bold margin-bottom-2 text-sans">Take an exceptional vacation you will remember for a lifetime.</h2><a href="/contact.html">
              <button class="button bg-primary color-white">Lets help you plan</button></a>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer">
          <div class="grid-container-w90 full grid-x footer__top">
            <div class="cell large-6 grid-x grid-padding-y">
              <h3 class="h4 margin-bottom-0 font-bold">Get Hamptons in your Inbox</h3>
              <div class="cell footer__subscribe grid-x margin-bottom-0">
                <form class="cell grid-x" name="subscribe" method="POST" data-netlify="true">
                  <div class="cell large-8">
                    <input class="margin-bottom-0" type="email" name="subscriber-email" placeholder="Enter your email" required="required"/>
                  </div>
                  <div class="cell large-4">
                    <button class="footer__subscribe__btn bg-primary color-white" type="submit">Submit</button>
                  </div>
                </form>
              </div>
              <div class="cell small-8 medium-5 footer__address padding-top-0 padding-bottom-0">
                <p>Hamptons Travel & Tours Ltd. <br> 71 Opebi Road, Ikeja Lagos, Nigeria</p>
              </div>
              <div class="cell padding-top-0"><a class="color-white" href="mailto:reservations@hamptonstravels.com" target="_blank">reservations@hamptonstravels.com</a></div>
            </div>
            <div class="cell large-5 large-offset-1 grid-x align-right">
              <div class="cell grid-x">
                <div class="cell footer__tel-wrapper"><a class="color-white footer__tel margin-right-1" href="tel: +234 809 547 6727">+234 809 547 6727</a><a class="color-white footer__tel" href="tel: +234 809 547 6724">+234 809 547 6724</a></div>
              </div>
              <div class="cell large-7 small-up-3 grid-x grid-padding-y footer__tel-wrapper">
                <div class="cell padding-top-0"><a class="color-white font-14" href="faqs.html">FAQs</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="about.html">About</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="contact.html">Contact-us</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="vacation">Vacations</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="tours.html">Tours</a></div>
                <div class="cell padding-top-0"><a class="color-white font-14" href="services">Services</a></div>
              </div>
              <div class="cell grid-x footer__tel-wrapper partners__slide small-up-6 large-up-6 align-end">
                <div class="cell margin-right-2 position-relative"><img class="position-absolute" src="/assets/img/iata.png" alt="IATA" style="left: 0; bottom: 22%;"/></div>
                <div class="cell margin-right-2 position-relative"><img class="position-absolute" src="/assets/img/nanta-logo.png" alt="NANTA" style="left: 0; bottom: 25%;"/></div>
                <div class="cell"><img src="/assets/img/naca_logo.svg" alt="NACA"/></div>
              </div>
            </div>
          </div>
          <div class="grid-container-w90 full grid-x footer__bottom grid-padding-y">
            <div class="cell large-6 grid-x">
              <h6 class="h6 smaller">© Copyright 1985 - 2019 Hamptons. All Rights Reserved</h6>
            </div>
            <div class="cell large-6 grid-x footer__bottom__social footer__tel-wrapper"><a class="color-white" href="">
                <div class="icon icon-facebook icon-1x margin-right-2"></div></a><a class="color-white" href="">
                <div class="icon icon-twitter icon-1x margin-right-2"></div></a><a class="color-white" href="">
                <div class="icon icon-youtube icon-1x margin-right-2"></div></a><a class="color-white" href="">
                <div class="icon icon-instagram icon-1x"></div></a></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
  <script src="https://cdn.jsdelivr.net/combine/npm/lightgallery,npm/lg-autoplay,npm/lg-fullscreen,npm/lg-hash,npm/lg-pager,npm/lg-share,npm/lg-thumbnail,npm/lg-zoom"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script src="https://parsleyjs.org/dist/parsley.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  </script>
  <script src="//static.cdn.prismic.io/prismic.min.js"></script>
  <script src="/assets/js/app.js"></script>
</html>
